<div class="section-main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-1 col-2 text-center"><a routerLink="mens">Men's</a></div>
            <div class="col-sm-1 col-3 text-center"><a routerLink="womens">Women's</a></div>
            <div class="col-sm-1 col-2 text-center"><a routerLink="kids">Kid's</a></div>
            <!-- <div class="col-sm-1 col-2 text-center"><a routerLink="beauty">Beauty</a></div>
            <div class="col-sm-1 col-3 text-center"><a routerLink="personal-care">Self Care</a></div> -->
        </div>
    </div>
</div>

<!-- <ul class="ul" >
    <li><a routerLink="mens">Men's</a></li>
    <li><a routerLink="womens">Women's</a></li>
    <li><a routerLink="kids">Kid's</a></li>
    <li><a routerLink="beauty">Beauty</a></li>
    <li><a routerLink="personal-care">Personal Care</a></li>
</ul> -->
