<div class="container" >
    <div class="row" *ngFor="let prod of prodCat " >
        <div class="row mt-3 mb-3">
            <div class="col text-center">
                <h1>{{prod.categoryName}}</h1>
            </div>
        </div>
        <div class="row section-partion justify-content-evenly">
            <div *ngFor="let f of prod" class="col-sm-3 col-xs-12 section-col mt-3">
                <div class="row"><img [src]="f.prodImage" alt="img1"></div>
                <div class="row p-2 productName"><h5>{{f.prodName}}</h5></div>
                <div class="row align-items-center p-2">
                    <div class="col-sm-5 col-4 text-secondary"><b>MRP </b>: <del>&#8377;{{f.prodPrice}}</del></div>
                    <div class="col-sm-5 col-4 text-success"><b>Offer : </b>&#8377;{{f.prodDiscount}}</div>
                </div>
                <div class="row p-3">
                    <div class="col text-center"><button class="button-add" (click)="addCart(f.prodId)">Add to Cart</button></div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- <div class="container">
    <div class="row ">
        <div class="col-sm col-10 image-zoom text-center">
            <img  src="https://assets.ajio.com/cms/AJIO/WEB/01062023-D-KHP-bestdeals-t-shirts-under399.jpg" alt="mg1">
        </div>
        <div class="col-sm col-10 image-zoom text-center">
            <img  src="https://assets.ajio.com/cms/AJIO/WEB/01062023-D-KHP-bestdeals-leggings-under399.jpg" alt="mg1">
        </div>
        <div class="col-sm col-10 image-zoom text-center">
            <img  src="https://assets.ajio.com/cms/AJIO/WEB/01062023-D-KHP-bestdeals-westernwearsets-under599.jpg" alt="mg1">
        </div>
    </div>
</div> -->