<div class="section-main">
    <div class="container section-1">
        <div class="row justify-content-end">
            <div class="col-sm-6 col-10 section-12">
                <form action="">
                    <h1>Login</h1>
                        <label for="username" class="form-label mt-4">User Name</label>
                        <input type="text" id="username" class="form-control mt-2" placeholder="User Name" name="username" [(ngModel)]="userName">
                    <label for="password" class="form-label mt-4">Password</label>
                    <input type="password" id="password" class="form-control mt-2" placeholder="Password" name="password" [(ngModel)]="password">
                </form>
                <button class="mt-4 button" (click)="onlogin()">Submit</button>
                <div class="row mt-3 justify-content-center">
                    <div class="col text-end">
                        <a class="register " routerLink="/register">Register</a>
                
                    </div>
                    <div class="col text-start">
                        <a class="register" routerLink="/home">Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
