
<div id="carouselExampleIndicators" class="carousel slide section-main" routerLink="/home/mens">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active " >
        <img src="https://assets.ajio.com/cms/AJIO/WEB/12062023-D-MHP-Mainbanner-5090.gif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/04062023-UHP-D-Main-P3-FossilFCUK-Upto70.avif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/04062023-UHP-D-Main-P6-USPA-Min55.avif" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" routerLink="/home/kids">
    <div class="carousel-inner">
      <div class="carousel-item active"  data-bs-interval="1500">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/01062023-D-KHP-sponsorbrand-pepejeans-4070.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/desktop%201111111111111111.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/01062023-D-KHP-sponsorbrand-pepejeans-4070.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" routerLink="/home/womens">
    <div class="carousel-inner">
      <div class="carousel-item active"  data-bs-interval="1500">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/19062023-WHP-D-mainbanner-p3-pepejeans-uspa-40to70.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/19062023-WHP-D-maonbanner-p7-aldo-dunelondon-upto50.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/19062023-WHP-D-sponsoredcarousel-p2-adidas-40to70.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" routerLink="/home/mens">
    <div class="carousel-inner">
      <div class="carousel-item active"  data-bs-interval="1500">
        <img src="../../../../assets/image1.avif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="../../../../assets/image1 (2).avif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="../../../../assets/image3.avif" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
